{% extends 'bootstrap/base.html' %}


{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{%block styles %}
  {{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<link href='https://fonts.googleapis.com/css?family=Bilbo Swash Caps' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Mukta' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Shadows Into Light Two' rel='stylesheet'>
{% endblock %}